@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--primary-color: #0d9488;
	--light-color: #ffffff;
	--dark-gray: #64748b;
	--off-white: #f1f5f9;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr {
	margin: 2rem 0;
}

/** container **/

.container {
	padding: 0rem 1rem;
}

.container-center {
	max-width: 700px;
	/* margin: auto; */
	display: flex;
	justify-content: center;
}

/** links **/
.link {
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

.link-primary {
	background-color: var(--primary-color);
	color: var(--light-color);
}

.link-secondary {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
